@import url("//fonts.googleapis.com/css?family=Oswald|Noticia+Text");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
/* line 17, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Column setup */
/* line 19, ../../src/_scss/main.scss */
body {
  font-afamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 18px;
  line-height: 150%;
}

/* line 26, ../../src/_scss/main.scss */
h1, h2 {
  color: #e36b23;
  font-family: 'Oswald',sans-serif;
  margin: 50px 0 25px 0;
  text-align: center;
}

/* line 33, ../../src/_scss/main.scss */
h1 {
  font-size: 54px;
  margin: 50px;
}
/* line 37, ../../src/_scss/main.scss */
h1 a {
  color: #e36b23;
  text-decoration: none;
}
/* line 41, ../../src/_scss/main.scss */
h1 a:hover {
  font-size: 57.6px;
}

/* line 47, ../../src/_scss/main.scss */
h2 {
  font-size: 36px;
}

/* line 51, ../../src/_scss/main.scss */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 55, ../../src/_scss/main.scss */
#intro, .header {
  background: #ece9d7;
  color: #2a333c;
  padding-bottom: 50px;
}

/* line 61, ../../src/_scss/main.scss */
#intro > div > div {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
  padding-left: 120px;
  padding-right: 120px;
}
/* line 147, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #intro > div > div {
  overflow-x: hidden;
}

/* line 67, ../../src/_scss/main.scss */
#docs {
  background: #2a333c;
  color: #ece9d7;
  padding-top: 50px;
}

/* line 73, ../../src/_scss/main.scss */
#docs > div > div {
  display: inline;
  float: left;
  margin-right: 0;
  width: 830px;
}
/* line 147, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #docs > div > div {
  overflow-x: hidden;
}

/* line 77, ../../src/_scss/main.scss */
.footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 830px;
}
/* line 147, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .footer {
  overflow-x: hidden;
}

/* line 81, ../../src/_scss/main.scss */
pre {
  background: #fcfcfa;
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
  padding-left: 120px;
  padding-right: 120px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin: 20px -50px;
  overflow: auto;
  padding: 0px 50px;
}
/* line 147, ../../../../../.rvm/rubies/ruby-1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html pre {
  overflow-x: hidden;
}

/* line 92, ../../src/_scss/main.scss */
.memproto {
  background: #15191e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  line-height: 150%;
  padding: 20px 30px;
  margin: 10px 0;
}
