<div class="contents">
<h1>ToadGenerators Class Reference</h1><!-- doxytag: class="ToadGenerators" -->
<p><code>#import &lt;<a class="el" href="_toad_generators_8h_source.html">ToadGenerators.h</a>&gt;</code></p>

<p><a href="class_toad_generators-members.html">List of all members.</a></p>
<table border="0" cellpadding="0" cellspacing="0">
<tr><td colspan="2"><h2>Static Public Member Functions</h2></td></tr>
<tr><td class="memItemLeft" align="right" valign="top">(Generator)&nbsp;</td><td class="memItemRight" valign="bottom">+ <a class="el" href="interface_toad_generators.html#a445101f09f6ad125671dc9b43a998731">infiniteSequentialInts</a></td></tr>
<tr><td class="memItemLeft" align="right" valign="top">(Generator)&nbsp;</td><td class="memItemRight" valign="bottom">+ <a class="el" href="interface_toad_generators.html#aed53090bfae5af88dead451db8503bdb">rangeFrom:to:</a></td></tr>
<tr><td class="memItemLeft" align="right" valign="top">(Generator)&nbsp;</td><td class="memItemRight" valign="bottom">+ <a class="el" href="interface_toad_generators.html#a92f57c06b02b14381ddc5e2dbf9e7a50">NSArraySeq:</a></td></tr>
<tr><td class="memItemLeft" align="right" valign="top">(Generator)&nbsp;</td><td class="memItemRight" valign="bottom">+ <a class="el" href="interface_toad_generators.html#ae79ac968a3045ab64b2cf986300a11ac">NSDictionarySeq:</a></td></tr>
<tr><td class="memItemLeft" align="right" valign="top">(Generator)&nbsp;</td><td class="memItemRight" valign="bottom">+ <a class="el" href="interface_toad_generators.html#a8f2245d6bf712ff3efd5afd15fe3d6a2">Primes</a></td></tr>
</table>
<hr/><a name="_details"></a><h2>Detailed Description</h2>
<p>Generators are blocks that provide the original source of data for the transformations.</p>
<p>Each block is of the form ^id(BOOL *end). Each time they are called they will return the next value in the sequence and will set *end to be NO. When they have run out of data they will set *end to be YES. They should also return nil - although this should not be relied on.</p>
<p>Note that not all generators will end. For example to infiniteSequentialInts will carry on (its behaviour will be undefined at MaxInt.) It is up to you to make sure you only take as many values as you need. </p>
<hr/><h2>Member Function Documentation</h2>
<a class="anchor" id="a445101f09f6ad125671dc9b43a998731"></a><!-- doxytag: member="ToadGenerators::infiniteSequentialInts" ref="a445101f09f6ad125671dc9b43a998731" args="()" -->
<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">+ (Generator) infiniteSequentialInts </td>
          <td></td>
          <td class="paramname"></td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
</div>
<div class="memdoc">
<p>Returns an infinite sequence of ints. Will be undefined when it gets to MaxInt. Note the sequence is of objects of type NSNumber. If you need to do arithmetic with the values then use the intValue property of the values.</p>
<dl class="return"><dt><b>Returns:</b></dt><dd>The generator </dd></dl>

</div>
</div>
<a class="anchor" id="a92f57c06b02b14381ddc5e2dbf9e7a50"></a><!-- doxytag: member="ToadGenerators::NSArraySeq:" ref="a92f57c06b02b14381ddc5e2dbf9e7a50" args="(NSArray *arr)" -->
<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">+ (Generator) NSArraySeq: </td>
          <td></td>
          <td class="paramtype">(NSArray *)&nbsp;</td>
          <td class="paramname"> <em>arr</em></td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
</div>
<div class="memdoc">
<p>Returns a sequence of the elements of the array.</p>
<dl><dt><b>Parameters:</b></dt><dd>
  <table border="0" cellspacing="2" cellpadding="0">
    <tr><td valign="top"></td><td valign="top"><em>arr</em>&nbsp;</td><td>The array containing the elements to create the sequence from</td></tr>
  </table>
  </dd>
</dl>
<dl class="return"><dt><b>Returns:</b></dt><dd>The generator </dd></dl>

</div>
</div>
<a class="anchor" id="ae79ac968a3045ab64b2cf986300a11ac"></a><!-- doxytag: member="ToadGenerators::NSDictionarySeq:" ref="ae79ac968a3045ab64b2cf986300a11ac" args="(NSDictionary *dict)" -->
<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">+ (Generator) NSDictionarySeq: </td>
          <td></td>
          <td class="paramtype">(NSDictionary *)&nbsp;</td>
          <td class="paramname"> <em>dict</em></td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
</div>
<div class="memdoc">
<p>Returns a sequence of the keys of the dictionary.</p>
<dl><dt><b>Parameters:</b></dt><dd>
  <table border="0" cellspacing="2" cellpadding="0">
    <tr><td valign="top"></td><td valign="top"><em>dict</em>&nbsp;</td><td>The dictionary</td></tr>
  </table>
  </dd>
</dl>
<dl class="return"><dt><b>Returns:</b></dt><dd>The generator </dd></dl>

</div>
</div>
<a class="anchor" id="a8f2245d6bf712ff3efd5afd15fe3d6a2"></a><!-- doxytag: member="ToadGenerators::Primes" ref="a8f2245d6bf712ff3efd5afd15fe3d6a2" args="()" -->
<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">+ (Generator) Primes </td>
          <td></td>
          <td class="paramname"></td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
</div>
<div class="memdoc">
<p>Returns an infinite (subject to memory and time) sequence of prime numbers</p>
<dl class="return"><dt><b>Returns:</b></dt><dd>The generator </dd></dl>

</div>
</div>
<a class="anchor" id="aed53090bfae5af88dead451db8503bdb"></a><!-- doxytag: member="ToadGenerators::rangeFrom:to:" ref="aed53090bfae5af88dead451db8503bdb" args="(int from,[to] int to)" -->
<div class="memitem">
<div class="memproto">
      <table class="memname">
        <tr>
          <td class="memname">+ (Generator) rangeFrom: </td>
          <td></td>
          <td class="paramtype">(int)&nbsp;</td>
          <td class="paramname"> <em>from</em></td>
        </tr>
        <tr>
          <td class="paramkey">to:</td>
          <td></td>
          <td class="paramtype">(int)&nbsp;</td>
          <td class="paramname"> <em>to</em></td><td>&nbsp;</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td><td></td><td></td>
        </tr>
      </table>
</div>
<div class="memdoc">
<p>Returns a seqence of integers between from and to.</p>
<dl><dt><b>Parameters:</b></dt><dd>
  <table border="0" cellspacing="2" cellpadding="0">
    <tr><td valign="top"></td><td valign="top"><em>from</em>&nbsp;</td><td>Start the sequence from this number </td></tr>
    <tr><td valign="top"></td><td valign="top"><em>to</em>&nbsp;</td><td>End the sequence after the number.</td></tr>
  </table>
  </dd>
</dl>
<dl class="return"><dt><b>Returns:</b></dt><dd>The generator </dd></dl>

</div>
</div>
<hr/>The documentation for this class was generated from the following files:<ul>
<li>/Users/stephenwakely/src/ToadSeq/ToadSeq/<a class="el" href="_toad_generators_8h_source.html">ToadGenerators.h</a></li>
<li>/Users/stephenwakely/src/ToadSeq/ToadSeq/<a class="el" href="_toad_generators_8m.html">ToadGenerators.m</a></li>
</ul>
</div>
