
<p>ToadSeq is a small iOS library for generating and manipulating lazy sequences within Objective C.</p>

<p>Sequences can be derived from numerical sequences or arrays and other data structures. It&#8217;s quite flexible. Transformations on the sequences are setup by chaining blocks. The transformations do not occur until the data is actually requested. Where possible the need to create arrays to store intermediate data is avoided.</p>

<h2 id='examples'>Examples</h2>

<p>To get an array of even numbers &lt; 100 :</p>

<pre><code>
{% highlight objectivec %}
// Initialise the sequence with an infinite sequence on integers
ToadSeq *seq = [[ToadSeq alloc] initWithGenerator: [ToadGenerators infiniteSequentialInts]];

// Take the first 100 integers.
[[seq take: 100]
     // Filter out all the integers that aren&#39;t even
     filter: ^BOOL(NSNumber *num)  {
          return num.intValue % 2 == 0;
    }];

// Convert the sequence to an array
NSArray *arr = [seq toArray];
{% endhighlight %}

</code></pre>

<p>Transformations can be chained as much as needed, to get the sum of the square of the first 100 integers :</p>

<pre><code>
{% highlight objectivec %}
// Take the first 100 integers.
[[[[seq take: 100]
     // Filter out all the integers that aren&#39;t even
     filter: ^BOOL(NSNumber *num)  {
          return num.intValue % 2 == 0;
    }]
    // Get the square of these numbers 
    map: ^id(NSNumber *num) {
          return @(num.intValue * num.intValue);
    }]
    // Fold the sequence down into the sum of all the elements
    foldl: ^id(NSNumber *accumulator, NSNumber *value) {
          return @(accumulator.intvalue + value.intValue);
    }];
{% endhighlight %}
</code></pre>

<p>It all works with arrays. Lets capitalize all the words of a sentence:</p>

<pre><code>

{% highlight objectivec %}
NSString *sentence = @&quot;I love to boogy&quot;;
NSArray *arr = [sentence componentsSeparatedByString: @&quot; &quot;];

// Create a sequence with the contents of our array
ToadSeq *seq = [[ToadSeq alloc] initWithGenerator: [ToadGenerators NSArraySeq: arr]];

[seq map:^NSString *(NSString *word) {
    return [word capitalizedString];
}];

NSString *newSentence = [[seq toArray] componentsJoinedByString:@&quot; &quot;];
STAssertTrue([newSentence isEqualToString: @&quot;I Love To Boogy&quot;], @&quot;String should be capitalized&quot; );
{% endhighlight %}
</code></pre>

<h2 id='generators'>Generators</h2>

<p>A sequence starts with a <em>Generator</em> - a Block of type <code>^id(BOOL *end)</code>. On each invocation the block returns the next item in the sequence. At the end of the sequence (if there is an end) the sequence sets end to YES.</p>

<p>A generator that returns the first five integers can be created like :</p>

<pre><code>
{% highlight objectivec %}
+(Generator) firstFiveInts {
    __block int i = 1;

    return ^id(BOOL *end) {
        if (i &gt; 5) {
          end = YES;
          return nil;
        }

        return @(i++);
    };
}
{% endhighlight %}
</code></pre>

<p>A number of generators have been pre-defined in ToadGenerators.h :</p>

<ul>
  <li><code>
{% highlight objectivec %}
[ToadGenerators infiniteSequentialInts]
{% endhighlight %}
</code> Creates an infinite sequence of integers.
</li>

<li><code>
{% highlight objectivec %}
[ToadGenerators NSArraySeq: array]
{% endhighlight %}
</code> Creates a sequence containing the elements of the passed in array.</li>

<li><code>
{% highlight objectivec %}
[ToadGenerators NSDictionarySeq: dict]
{% endhighlight %}
</code> Creates a sequence containing the keys of the passed in dictionary.
</li>
</ul>

<h2 id='transformations'>Transformations</h2>

<p>The sequence can then be manipulated using a number of chained transformations.</p>

<p>To create a sequence of even numbers use <code>map</code> :</p>

<pre><code>
{% highlight objectivec %}
ToadSeq *seq = [[ToadSeq alloc] initWithGenerator: [ToadGenerators infiniteSequentialInts]];
[seq map: ^id(NSNumber *num) {
    return @(num.intValue * 2);
}];
{% endhighlight %}
</code></pre>


<p>Transformations can be chained. To get the sum of the first 10 square numbers using take, map and foldl:</p>

<pre><code>

{% highlight objectivec %}
ToadSeq *seq = [[ToadSeq alloc] initWithGenerator: [ToadGenerators infiniteSequentialInts]];
[[[seq take: 10]
       map:^id(NSNumber *value) {
         return @(value.intValue * value.intValue);
    }]
      foldl:^id(NSNumber *accumulator, NSNumber *value) {
          return @(accumulator.intValue + value.intValue);
    }];

STAssertTrue([seq hasMore], @&quot;Should have one item&quot;);
STAssertEquals([[seq getNext] intValue], 385, @&quot;We need the sum of the squares here&quot;);
{% endhighlight %}
</code></pre>

<h2 id='pulling_the_data'>Pulling the data</h2>

<p>Nothing happens until we actually pull the data. Applying the transformations just chain them up. Only when we pull a value from the sequence with getNext is it passed through the transformations and returned. Only as much data as is needed is passed through the transformations. There is no need (apart from in a few situations) to store intermediate arrays of data which uses up unnecessary memory.</p>

<p>Data can be pulled using :</p>

<p><code>[seq getNext]</code> - Used in conjunction with <code>[seq hasMore]</code> to pull a single item from the sequence.</p>

<p><code>[seq toArray]</code> - Pulls the whole sequence out into an array.</p>

<p><code>[seq forEach:]</code> - Passes each element of the sequence into a block.</p>


